<!DOCTYPE html>
<html>
<body>
	<title>
		Hotel Discover
	</title>
	<div>
		{% if user.is_authenticated %}
			<h4>Bienvenido {{user.username}}</h4>
			<a href="/{{user.username}}">Mi Pagina</a>
			<a href="/{{user.username}}/xml">Canal XML</a>
			<a href="/logout/">Cerrar sesión</a>
		{% else %}
			<h4>Login</h4>
			<form action="/login/" method="Post">
				{% csrf_token %}
					<label for="username">Name</label>
					<input name="username" type="text" value="" />
					<label for="username">Password</label>
					<input name="password" type="password" value="" />
					<input type="submit" value="Login" />
			</form>
		{% endif %}
	</div>
	<div>
		<a href="/alojamientos"> -- Alojamientos --</a>
		<a href="/about"> -- About -- </a>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>