{% extends "base_index.html" %}
<!-- PONER FORMULARIO DE USER AUTENTICADO PARA DEJAR COMENTARIOS! -->
{% block content %}
	<div id="hotelid">
		<h1> {{hotel.name}} </h1>
		<div class="center">
			{% if user.is_authenticated %}
				<form action="/addfav/" method="Post">
					{% csrf_token %}
					<input name="identifier" type="hidden" value="{{hotel.id}}"></input>
					<input class="submitbutton" type="submit" value="Añadir a favoritos" />
				</form>
				{% endif %}
		</div>
		{% if user.is_authenticated %}
			<form action="" method="Post">
				{% csrf_token %}
				<select name="language">
					<option value="Spanish">Español</option>
					<option value="English">English</option>
					<option value="French">Français</option>
				</select>
				<input type="submit" value="Enviar"/>
			</form>
		{% endif %}
		<br/>
		<p> <strong>Address:</strong> Calle {{hotel.address}} </p>
		<p> <strong>Description:</strong> </p>
		<p> {{hotel.body}} </p>
		<p> <strong>Category and stars:</strong> </p>
		<p> {{hotel.category}}, {{hotel.stars}} </p>
		<a href="{{hotel.web}}"> <strong>Web page</strong></a><br/>
		<p> Latitude: {{hotel.latitude}} ; Longitude: {{hotel.longitude}}</p>
		<h4 class="center"><strong> Imagenes:</strong></h4>
		<div class="slider">
			{% for img, num in img_list %}
				<input type="radio" name="slide_switch" id="id{{num}}" checked="checked"/>
				<label for="id{{num}}">
					<img src="{{img}}" alt="" width="100"/>
				</label>
				<img src="{{img}}" alt="" />
			{% endfor %}
		</div>
		<br/><br/><br/><br/><br/>
		<hr class="separator">
		<div id="comentarios">
			<h3><strong> Comentarios: </strong></h4>
			{% for comment in comments %}
				<p> <strong>{{comment.title}}</strong> - {{comment.date}}</p>
				<p> {{comment.comment}} </p>
				<hr>
			{% endfor %}
			{% if user.is_authenticated %}
				<h3><strong>Deja un comentario:</strong></h4>
				<form action="/addcomment/" method="Post">
					{% csrf_token %}
					<div>
						<input name="title" type="text" value="Titulo" autocomplete="off"></input>
					</div>
					<div>
						<textarea rows="3" cols="80" name="comment" type="text"> Escribe aqui... </textarea>
					</div>
					<input name="identifier" type="hidden" value="{{hotel.id}}"></input>
					<div>
						<input class="submitbutton" type="submit" value="Enviar"/>
					</div>
				</form>
			{% endif %}
		</div>
</div>
{% endblock %}
