{% extends "base_index.html" %}

{% block content %}
		<div id="content">
			<h1>
				Lista 10 hoteles con mas comentarios
			</h1>
			<ol>
				{% for hotel, img in hotels %}
					<li>
						<item>
							<a href="{{hotel.web}}"> {{hotel.name}} </a>
							<p> Address : Calle {{hotel.address}} </p>
							<img src="{{img}}" alt=""><br/>
							<a href="/alojamientos/{{hotel.id}}"> Mas informacion </a>
						</item>
					</li><br/>
				{% empty %}
					<p> No hay hoteles con comentarios </p>
				{% endfor %}
			</ol>
		</div>
		<div id="userpages">
			<h2>
				Paginas de usuario:
			</h2>
			{% for user, config in users %}
				<a href="/{{user.username}}">{{config}}</a> - {{user.username}}<br/>
			{% endfor %}
		</div>
{% endblock %}
