{% extends "base_index.html" %}

{% block content %}
		<div class="content">
			<h1>
				Lista de hoteles con mas comentarios:
			</h1>
			<ul class="mainlist">
				{% for hotel, img in hotels %}
					<div class="hotelwrp">
						<li>
							<item>
								<div class="hotel">
									<a href="/alojamientos/{{hotel.id}}"><strong><span>{{hotel.name}} <span></strong></a>
									<p><strong> Address : </strong> Calle {{hotel.address}} </p>
									<img src="{{img}}" alt=""><br/>
									<a href="{{hotel.web}}"><strong class="moreinfo"> Mas informacion</strong></a>
								</div>
							</item>
						</li><br/><hr class="separator">

					</div>
					{% empty %}
						<p> No hay hoteles con comentarios </p>
					{% endfor %}
			</ul>
		</div>
		{% if user.is_authenticated %}
			<div id="userpages">
		{% else %}
			<div id="userfixed">
		{% endif %}
			<h2>
				Paginas de usuario:
			</h2>
			{% for user, config in users %}
				<a href="/{{user.username}}"><strong class="link">{{config}}</strong></a>&nbsp;&nbsp;{{user.username}}<br/>
			{% endfor %}
			<br/>
			<strong>Contador de visitas:</strong>
			<br/>
			<a href="/" title="Visitor Counter"><img src="http://counter5.freecounter.ovh/private/freecounterstat.php?c=5f2c30f42e014197c9ba900e57f84ef6" border="0" title="Visitor Counter" alt=""></a>
		</div>
{% endblock %}
