{% extends "base_index.html" %}

{% block content %}
	<div class="content">
		<ol>
			{% for hotel, img, date in hotels %}
				<li>
					<item>
						<a href="{{hotel.web}}"><strong> {{hotel.name}} </strong></a><br/>
						<strong>Added: </strong>{{date}}
						<p><strong> Address : </strong>Calle {{hotel.address}} </p>
						<img src="{{img}}" alt=""><br/>
						<a href="/alojamientos/{{hotel.id}}"><strong> Mas informacion </strong></a>
					</item>
				</li><br/>
				<hr/>
			{% empty %}
				<p> Sorry, favs are empty </p>
			{% endfor %}
			<br/>
			{% if num_favs > 10 %}
				<div id="pages">
					<strong>Pages:</strong>
					{% for num in max_pg %}
						<a href="/{{username}}_page={{num}}"><button>{{num}}</button></a>
					{% endfor %}
				</div>
			{% endif %}
		</ol>
	</div>
	<div id="personalize">
		{% if user.is_authenticated %}
			{% if username == user.username %}
				<h4> Personalizatu pagina! </h4>
				<form action="/saveconf/" method="Post">
					{% csrf_token %}
					<select name="color">
						<option value="beige">Default</option>
						<option value="black">Black</option>
						<option value="white">White</option>
						<option value="aqua">Aqua</option>
						<option value="blue">Blue</option>
						<option value="gold">Gold</option>
						<option value="red">Red</option>
						<option value="green">Green</option>
						<option value="orange">Orange</option>
					</select>
					<select name="size">
						<option value="14">Default</option>
						<option value="10">10px</option>
						<option value="15">15px</option>
						<option value="20">20px</option>
						<option value="25">25px</option>
					</select>
					<input name="title" type="text" value=""></input>
					<input type="submit" value="Send" />
				</form>
			{% endif %}
	{% endif %}
	</div>
{% endblock %}
