<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
	<title>
		Hotel Discover
	</title>
	<div class="page-header">
		<a href="/"><img src="{% static "images/HotelDiscoverLogo.png" %}" alt="Logo" class="banner"/></a>
		<div class="urls">
			{% if request.path != '/' %}
				<a href="/"><button class="buttonstyle">Main Page</button></a>
			{% endif %}
			<a href="/alojamientos"><button class="buttonstyle"> Alojamientos </button></a>
			<a href="/about"><button class="buttonstyle"> About </button></a>
			{% if not user.is_authenticated %}
				<a href="/register/"><button class="buttonstyle"> Regístrate </button></a>
			{% endif %}
			<a href="/main/xml"><button class="buttonstyle">Main XML </button></a>
			<a href="/main/rss"><button class="buttonstyle"> Main RSS </button></a>
			</div>
	</div>
	<div id="register">
	  <h2><strong><center>¡Regístrate!</center></strong></h2>
		<br/>
	  <form action="" method="Post">
			{% csrf_token %}
				<div id="name">
					<label for="username">Name</label>
					<input name="username" type="text" value="" autocomplete="off"/>
				</div>
				<div>
					<label for="username">Password</label>
					<input name="password" type="password" value="" />
				</div>
				<br/>
				<center><input class="submitbutton" type="submit" value="Register"/></center>
	  </form>
	</div>
	<br/><br/>
	<br/><br/>
	<br/><br/>
	<br/><br/>
	<footer>
		<div id="credits">
			<center><p><a href="/">Homepage</a> | <a href="/main/rss">RSS</a> | <a href="/main/xml">XML</a> | &copy; 2016 | Design by <a href="/about">Antonio Gomez Vergara</a> | This work is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a></p></center>
		</div>
	</footer>
</body>
</html>
